*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.containerPai{
    width: 100%;
    height: 100vh;
    position: relative;
}

section {
    width: 100%;
    height: 100vh;
    background-color: red;
}