*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divPai{
    width: 100%;
    height: 100vh;
    background-color: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 0px;
    corner-shape: notch
}