*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.divPai{
  width: 100%;
  height: 10vh;
  background-color: #dedede;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("bg-home1.png");
  background-position: center;
  background-size: cover;
}

h1{
  font-size: 420px;
  color: white;
}

section{
  background-color: #dedede;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h2{
    font-size: 120px;
  }
}
